

.checkbox {
  display: none;
}

.hamburger span {
  height: var(--line);
  width: 100%;
  background-color: #000;
  border-radius: calc(var(--line) / 2);
  transition: transform 1s, opacity 0.5s, translate 0s 0s;
  transform-origin: center;
}

.hamburger {
  --line: 0.5em;
  float: right;
  width: 2.5em;
  margin-right: 3.5em;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  gap: var(--line);
}

nav:has(.checkbox:checked) .hamburger span:nth-of-type(1) {
  transform: translateY(200%) rotate(405deg);
}

nav:has(.checkbox:checked) .hamburger span:nth-of-type(2) {
  opacity: 0;
}

nav:has(.checkbox:checked) .hamburger span:nth-of-type(3) {
  transform: translateY(-200%) rotate(-405deg);
}

.menu {
  display: none;
}

nav:has(.checkbox:checked) .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000d0;
  border-radius: 20px;
  justify-content: center;
  transform: translateX(-150px);
  transform: translateY(150px);
  animation: menu-fall-down 1s ease;
}











@media (min-width: 770px) {
  .hamburger span {
    height: var(--line);
    width: 100%;
    background-color: #000;
    border-radius: calc(var(--line) / 2);
    transition: transform 1s, opacity 0.5s, translate 0s 0s;
    transform-origin: center;
  }

  .hamburger {
    display: none;
  }

  .menu {
    display: block;
  }

  nav:has(.checkbox:checked) .hamburger span:nth-of-type(1) {
    transform: translateY(200%) rotate(45deg);
  }

  nav:has(.checkbox:checked) .hamburger span:nth-of-type(2) {
    opacity: 0;
  }

  nav:has(.checkbox:checked) .hamburger span:nth-of-type(3) {
    transform: translateY(-200%) rotate(-45deg);
  }
}
  







input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: hsl(195, 73%, 36%);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: hsl(195, 74%, 40%);
}

.moznost {
  border-radius: 12px;
}

.formular-div {
  border-radius: 20px;
  background-color: #c27638;
  padding: 20px;
  width: 80%;
  
}


.formular-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.formular-h1 {
  margin-top: -3px;
  text-align: center;
}







* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}

body {
  font-family: cursive;
  background-color: hsl(201, 100%, 87%);
}

nav {
  background-color: hsl(195, 73%, 36%);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label.menu-nazev {
  color: white;
  font-size: 3.2em;
  font-weight: bold;
  line-height: 80px;
  padding: 0 1.5em;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 1.2em;
  border-radius: 3px;
  padding: 7px 13px;
  text-transform: uppercase;
}
a.active, a:hover {
  background: rgba(255, 255, 255, 0.89);
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: .5s;

}

.checkbox { 
  display: none; 
}

.hamburger-image {
  float: right;
}











.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.name {
  color: #000000;
  font-size: 3em;
  font-weight: 600;
  width: 10%;
  margin-left: 1.2em;
  margin-top: 7px;
  display: flex;
  justify-content: start;
}

.uvod {
  background-color: none;
  position: absolute;
  margin-top: 3em;
  text-align: center;

}

.uvodni_text {
  font-size: 1.6em;
  font-family:cursive;
  font-weight: 700;
  margin: auto;
  text-align: center;
  background-color: none;

}

.background_img {
    background-position: center;
    align-items: center;
}


.product-description {
  display: flex;
  flex-direction: column;

}

.produkty {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -17em;
}


@media only screen and (min-width: 600px) {
  .produkty {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}


.produkt {
    background-color: #c27638;
    height: 28em;
    width: 18em;
    margin: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.product-name {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    font-size: 2em;
    font-weight: 800;
    margin-top: .3em;
}

.button_set {
    display: flex;
    justify-content: center;
}

.button_home {
  text-align: center;
  font-family: cursive;
  font-weight: 500;
  background-color: white; 
  color: black; 
  border: 2px solid hsl(195, 73%, 36%);
  border-radius: 13px;
  width: 16em;
  height: 3em;
  margin-top: 2.2em;
}

.button_home:hover {
  background-color: hsl(195, 73%, 36%);
  color: white;
}

.product-photo {
    border-radius: 30px;
    transition: 1s;

}

.product-photo:hover {
  transform: scale(1.1);
  transition: 1s;
  border-style: 2px solid;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -13em;
}

.gallery_item {
  display: flex;
  justify-content: center;
  margin: 10px;
  max-width: 300px;
  max-height: auto;
  border-radius: 20px;
  align-items: center;
}

.gallery_item_background {
  border-radius: 20px;
}

.gallery-item img {
  max-width: 100%;
  transition: transform 0.3s ease;
  border-radius: 20px;
}

.gallery-item:hover img {
  transform: scale(1.1);
}


.footer_back{
  background:hsl(195, 73%, 36%);
  margin-top: 3em;
  font-family: cursive;
  text-align:center;
  }
  
  .footer_text{
  width:100%;
  margin:.3em;
  padding: 0.6% 0%;
  color:rgb(0, 0, 0);
  font-size:0.8em;
  font-weight: 500;
  }
  
.dt_footer_text {
  margin-top: 8px;
}

.logo {
  position: absolute;
  left: 15px;
  margin-top: -7px;
}







